<div class="container" data-admin-panel>
  <div class="row">
    <nav class="col-sm-4 col-md-3 hidden-xd-down sidebar">
      <ul class="nav nav-pills flex-column mb-3">
        <li class="nav-title nav-item">Dashboard</li>
        <li class="nav-item"><a class="nav-link active" href="#">Overview</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Easy Editing</a></li>
      </ul>
      <ul class="nav nav-pills flex-column mb-3">
        <li class="nav-title nav-item">Setting</li>
        <li class="nav-item"><a class="nav-link" href="#">General</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Module Handler</a></li>
      </ul>
    </nav>
    <main class="col-sm-8 offset-sm-4 col-md-9 offset-md-3 pt-4">
      <section class="row">
        <div class="card text-center mb-3" style="width: 100%">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item"><a class="nav-link active" href="#">Swift Management</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Online Lists</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Debug Commands</a></li>
            </ul>
          </div>
          <div class="card-body">
            <div class="p-2 pt-4 pb-4 input-group input-group-sm">
              <input type="text" class="form-control" placeholder="Hello, Everyone!" aria-label="Hi, Everyone!">
              <span class="input-group-btn">
                <button class="btn btn-info" type="button">Send</button>
              </span>
            </div>
          </div>
        </div>
      </section>
      <section class="row">
        <div class="progress" style="width: 100%;">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 7%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">7%</div>
        </div>
      </section>
    </main>
  </div>
</div>