<!DOCTYPE html>
<html>
  <head>
    <title>NOT FOUND</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="/assets/css/app.css" rel="stylesheet">
    <style>
      .error-wrap {
        margin: 32px 0; 
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="error-wrap">
            <p>페이지를 찾을 수 없습니다. 현재 서버 개발중입니다. 일시적인 오류일 수도 있으므로 트위터 <a href="https://twitter.com/Kurosnape" target="_blank">@Kurosnape</a>에 제보해주세요.</p>
          </div>
        </div>
      </div>
    </div>
    <div id="external">
      <div id="script-bundle">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      </div>
    </div>
  </body>
</html>