doctype html
- const TITLE = `${locals.title}`

html
  head
    block head
      meta(charset='utf-8')
      title= TITLE
      link(rel="stylesheet", href="/assets/css/app.css")
  body
    block body
      block content
    block scripts