[data-admin-panel] {

.sidebar {
  position: absolute;
  top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1000;
}

.nav-title {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 5px;
  font-size: 85%;
  font-weight: normal;
  letter-spacing: 1px;
  color: #a2a9b1;
  text-transform: uppercase;
}

}